.toast {
	--bs-toast-min-width: 350px;
	--bs-toast-max-width: 350px;
	--bs-toast-font-size: 0.875rem;
	--bs-toast-color: inherit;
	--bs-toast-bg: var(--bs-light-bg-subtle);
	--bs-toast-border-width: var(--bs-border-width);
	--bs-toast-border-color: var(--bs-border-color-translucent);
	--bs-toast-border-radius: 0.375rem;
	--bs-toast-progress-color: var(--bs-border-color-translucent);
	--bs-toast-box-shadow: var(--bs-box-shadow);
	--bs-toast-header-color: inherit;
	--bs-toast-header-bg: var(--bs-border-color);
	--bs-toast-header-border-color: var(--bs-border-color-translucent);
	--bs-toast-title-color: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
	animation: fadein 1s;
	margin: 0;
	min-width: var(--bs-toast-min-width);
	max-width: var(--bs-toast-max-width);
	font-size: var(--bs-toast-font-size);
	color: var(--bs-toast-color);
	pointer-events: auto;
	background-color: var(--bs-toast-bg);
	background-clip: padding-box;
	border: 1px solid var(--bs-toast-border-color);
	box-shadow: var(--bs-toast-box-shadow);
	border-radius: var(--bs-toast-border-radius);

	.toast-header {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		background-color: var(--bs-toast-header-bg);
		background-clip: padding-box;
		border-bottom: var(--bs-toast-border-width) solid var(--bs-toast-header-border-color);
		border-top-left-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
		border-top-right-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));

		.toast-title {
			flex: 1;
			font-weight: 700;
			padding-right: 4px;
			color: var(--bs-toast-title-color);
			min-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.toaster-right-section {
			display: flex;
			align-items: center;
			/* Prevent this section from shrinking */
			flex-shrink: 0;
		}

		.toast-copy-clipboard {
			margin-left: 10px;
			margin-top: -6px;
		}

		.btn-close {
			margin-right: calc(-0.5 * var(--bs-toast-padding-x));
			margin-left: var(--bs-toast-padding-x);
		}
	}
}

.toast {
	.toast-body {
		flex-grow: 1;
		margin: 0.5rem 0.5rem 0.875rem 0.5rem;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		max-height: 25vh;
		overflow-y: auto;
	}

	.toast-progressbar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 4px;
		border-bottom-left-radius: 1.5rem;
		border-bottom-right-radius: 1rem;

		> span {
			width: 100%;
			position: absolute;
			height: 4px;
			border-bottom-left-radius: 1.5rem;
			border-bottom-right-radius: 1rem;
			background-color: var(--bs-toast-progress-color);
			-webkit-transition: width 0.2s linear;
			-moz-transition: width 0.2s linear;
			-o-transition: width 0.2s linear;
			transition: width 0.2s linear;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
