@namespace Cirreum.Components

@if (IsReactive) { 
	<li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
		<div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
		<hr class="d-lg-none my-2 text-white-50">
	</li>
} else {
	<li class="nav-item py-2 col-auto">
		<div class="vr d-flex h-100 mx-2 text-white"></div>
	</li>
}

@code {

	[Parameter]
	public bool IsReactive { get; set; } = true;

}