.menu-item {
  position: relative;
}
.menu-item > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 6px 6px 6px 6px;
}
.menu-item:hover > .dropdown-menu.show {
  display: block;
}
.menu-item:focus-visible {
  outline: none;
}

.dropdown-item:not(.disabled) {
  cursor: pointer;
}

.dropdown-item.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-right: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
}
