.columns-chooser {
  margin: 0;
  padding-top: 3px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.columns-chooser ::deep .form-check {
  margin-left: 3px;
  padding: 3px 0 3px 30px;
  min-height: 0;
  border-radius: var(--bs-border-radius) !important;
  border: 1px solid transparent;
}
.columns-chooser ::deep .form-check:hover .form-check-input {
  text-decoration: none;
  box-shadow: 0 0 0 0.25rem rgba(55, 90, 127, 0.25);
}

::deep .popover-header {
  padding: 0.25rem 0.5rem;
}
::deep .popover-header .form-check {
  margin-bottom: -4px;
}
::deep .popover-header .form-check-input {
  font-size: 0.875rem;
}
::deep .popover-header label {
  font-size: 0.75rem;
  color: var(--bs-primary-text-emphasis);
}
