th[role=columnheader]:not([data-detail-column]) {
  position: relative;
  user-select: none;
  height: 24px;
  overflow: hidden;
}

.col-header-content {
  display: flex !important;
  flex-wrap: nowrap !important;
  margin-right: 4px;
  white-space: nowrap !important;
  cursor: default;
  transition: all 500ms ease;
}
.col-header-content .sortable {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}
.col-header-content .filterable {
  transition: opacity 0.2s ease, filter 0.2s ease, text-shadow 0.2s ease;
}
.col-header-content .filterable.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
.col-header-content .filterable:not(.disabled):hover {
  text-shadow: 0 0 1px black;
}
.col-header-content .filterable.is-filtered {
  color: var(--bs-warning);
  filter: brightness(85%);
}
.col-header-content .filterable.is-filtered:not(.disabled):hover {
  text-shadow: none;
  filter: brightness(100%);
}

[data-bs-theme=dark] .col-header-content .filterable.disabled {
  opacity: 0.4;
}
[data-bs-theme=dark] .col-header-content .filterable:not(.disabled):hover {
  text-shadow: 0 0 1px white;
}

.col-borderless-separator {
  display: inline-block;
  width: 1px;
  min-height: 4px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 0;
  z-index: 7;
  user-select: none;
  pointer-events: none;
  background-color: currentcolor;
  opacity: 0.125;
  transition: opacity 0.15s ease;
}

.col-width-draghandle {
  display: inline-block;
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
  z-index: 8;
  user-select: none;
}
.col-width-draghandle:hover {
  border-right: 4px solid var(--bs-border-color-translucent, #62738e);
}

.col-width-resizing {
  border-right: 2px solid var(--bs-border-color-translucent, #62738e);
}

/*::deep table {
	&:not(.table-bordered) {
		> thead {
			.col-width-draghandle {
				border-right: 1px solid $draghandler-color;
			}
		}
	}
}*/
