.multiple-selector {
	display: flex;
	user-select: none;

	select {
		padding: .25rem .25rem .25rem .25rem !important;


		option {
			padding: .25rem .5rem !important;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: .25rem;
		}

		option:hover {
			background-color: var(--bs-tertiary-bg);
		}
	}
}