.inputfile-container {
  display: grid;
  grid-gap: 10px;
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
}
.inputfile-container[drop-files] {
  border: 1px dashed var(--bs-info);
}
.inputfile-container .inputfile-content {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.inputfile-container ::deep input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.inputfile-container ::deep label,
.inputfile-container ::deep a {
  color: var(--bs-info);
  text-decoration: underline;
  cursor: pointer;
}
.inputfile-container[disabled], .inputfile-container[disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
