.counterbadge-container {
  display: inline;
  position: relative;
  height: 100%;
}

.counterbadge {
  position: absolute;
  z-index: 10;
  font-size: 0.625em;
  font-weight: 600;
  border-radius: 10000px;
  letter-spacing: 0;
  min-width: 10px;
  padding: 4px 4px;
  line-height: 1;
  text-align: center;
  text-indent: 0;
  white-space: nowrap;
  box-sizing: content-box;
  cursor: default;
}
.counterbadge[dot-only] {
  width: 0;
  min-width: unset;
  height: 0;
}
