@namespace Cirreum.Components
@typeparam TData
@inherits DataGridColumnFilterBase<TData>

@if (Column.FilterControl == this) {
	<select class="form-select form-select-sm" value="@Operation.Name" @onchange="OnOperationChanged" title="chose the filter operation">
		@foreach (var option in Options) {
			<option value="@option.Id">@option.Name</option>
		}
	</select>
	@if (Operation.NumberOfValues > 0) {
		<input @ref="initialFocusElement" type="text" class="form-control form-control-sm" title="@Column.HeaderText" @bind-value="FilterValue" />
	}
}