@namespace Cirreum.Components
@typeparam TData
@ChildContent
<div class="d-flex justify-content-evenly gap-2 mt-2">
	<button type="button" class="col btn btn-secondary btn-sm" role="button" title="close..." @onclick="Close">Close</button>
	<button type="button" class="col btn btn-danger btn-sm" role="button" title="clear..." @onclick="ClearFilter">Clear</button>
	<button type="button" class="col btn btn-primary btn-sm" role="button" title="apply..." @onclick="ApplyFilter">Apply</button>
</div>