@namespace Cirreum.Components
@implements IDropdownItemBase
<li role="listitem"><h6 class="dropdown-header">@ChildContent</h6></li>
@code {
	[Parameter, EditorRequired]
	public RenderFragment ChildContent { get; set; } = default!;
}